/vendor
/.idea
Homestead.json
Homestead.yaml
.env
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
coverage.xml
coverage.clover
/coverage
phpunit.txt
public/docs/*
composer.phar
.phpunit.result.cache
composer.lock
yarn.lock
.history
node_modules/
/public/hot
/public/storage
/storage/*.key
/public/js
/public/css
/public/mix-manifest.json
logs
!logs/.gitkeep
/public/manifest.js.map
/package-lock.json
/public/dist
